$font-family-second: "Quentin";
$font-family-default: "TiemposFine-Bold";

$font-size-default: 10px;
$font-size-tablet: 8px;
$font-size-tablet1: 6px;
$font-size-mobile: 6px;

$color-grey: #E5E5E5;
$color-text: #FFFFFF;
$color-dark: #1c1b1b;

$tablet-width: 1024px;
